.portfolioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolioItem {
  flex: 1 1 calc(50% - 50px);
  max-width: 500px;
  text-align: center;
  margin: 20px;
}

.linkStyle {
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}
